* { margin:0; padding:0; box-sizing:border-box; }
body {
  background-color: silver;
  color: grey;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
section {
	border-radius: 3px;
	padding-left: 3px;
	display: block;

}

.handle {
	width: 24.5%;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	height: 100%;
	background: silver;
	padding: 2em;


}

h2 {
	text-align: left;
	border-radius: 3px;
	padding-left: 5px;
	font-size: 28px;
	font-weight: 600;
	color: white;
}
p {
	text-align: left;
	font-size: 18px;
	font-family: "Courier New", monospace;
	font-weight: 400;
	color: white;
}

div {
	background-color: grey;
	}
	
}

footer	{
	float: bottom;
}
#intro {
	width:25%;top:0
	left:0;
	color: white;
}
.grid { width:75%;float:right; }
.grid-sizer,
.grid-item { width: 32.33%; margin:.25%; }
h2.grid-item {
	padding:4em 0;
	text-align:center;
}
p.grid-item, div.grid-item {
	padding:2em;
	background:purple;
}
/* 2 columns */
.grid-item--width2 { width: 65.66%; margin:.5%;}
